style
        *{
            box-sizing: border-box;
        }
 
        html{
            font-size:62.5%;/*1rem = 10px*/
        }
 
        body,h1,h2,ul{
            margin:0;
            padding:0;
            
        }
        ul{
            list-style: none;
        }
 
        /*******************/
        body{
            font-family: 'Nunito Sans', sans-serif;
        }
        .arkaplan{
            background-color: #000000;
        }
        .kapsayici{
            width: 960px;
            margin:0 auto;
        }
        
        .ust{
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 200px;
        }
 
        .ust .logo{
            text-align: center;
            color:#fff;
        }
        .ust .logo h1{
            font-size:4rem;
            letter-spacing: .5rem;
        }
 
        .ust .logo h1::first-letter{
            color:#FCB941;
        }
 
        .ust .logo h1:hover::first-letter{
            background-color: #FCB941;
            color:#851808;
        }
 
        .ust .logo h2{
            font-size:2.4rem;
        }
 
        
        .ust .menu ul{
            display: flex;
        }
        .ust .menu ul li{
            margin:0 1rem;
        }
 
        .ust .menu ul a{
            color:#fff;
            text-decoration: none;
            font-size:2rem;
            padding:0 1rem;
        }
        .ust .menu ul a:hover{
            color:#FCB941;
        }

        .orta .bolum1{
            margin-top:5px;
            padding:0px;
           
        }
        .bas{
            font-size: 30px;
            text-align: justify;
            margin: 20px;
        }
        .orta .bolum1 img{
            display: block;
            width: 100%;
        }
 
        .orta .bolum2{
            margin:50px;
            display: flex;
            justify-content: space-between;
        }
        .orta .bolum2 .kutu{
            flex-basis: 290px;
            margin-left: 20px;
        }
 
        .orta .bolum2 .kutu h2{
            font-size: 2rem;
        }
 
        .orta .bolum2 .kutu p{
            font-size: 1.6rem;
        }
 
        .orta .bolum3{
            display: flex;
            justify-content: space-between;
            
        }
 
        .orta .bolum3 h1{
            font-size:2.5rem;
        }
 
        .orta .bolum3 p{
            font-size:2rem;
        }
        .buton{
            text-decoration: none;
            font-size: 19px;
            display: inline-block;
            background-color:turquoise;
            color: #fff;
            margin: 10px 0px;
            padding: 3px 7px;
            cursor: pointer;
            border: none;
            border-radius: 16px;
            font-style: italic;
        }
        .buton:hover{
            background-color:black;
        }
        .içerik{
            font-size: 100px;
        }
 
        .alt{
            margin-top:50px;
            padding:20px 0;
            column-gap:90px;
        }
        .yazı{
            text-align: center;
            color: red;
            font-size: 15px;
            
        }
 
 
        .cizgi{
            border-top:dotted 1px #FCB941;
            margin:20px 0;
        }
 




    